<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Trips</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <!-- NAV -->

        <!-- BODY -->
        <div class="col-sm-9" layout:fragment="body">
            <h4><small>All Trips</small></h4>
            <hr>
            <table class="table  table-striped table-hover">
                <tr>
                    <th>
                        Trip From
                    </th>
                    <th>
                        Trip To
                    </th>
                    <th>
                        Distance
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                <tr th:each="trip :${trips}">
                    <td th:text="${trip.trip_from}"></td>
                    <td th:text="${trip.trip_to}"></td>
                    <td th:text="${trip.distance}"></td>
                    <td th:text="${trip.date}"></td>
                    <td>
                    <a style="color:blue" th:href="@{/trips/{id}/edit(id=${trip.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
                    </td>
                </tr>
            </table>
            <br><br>
        </div>
        <!--END BODY -->
    </div>
</div>
<!-- footer -->


</body>
</html>
